html {
    font-family: 'Josefin Sans', sans-serif;
}
main {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

main section:nth-child(1) {
    padding: 4rem 10rem 10rem;
    background-image: url('images/bg-pattern-desktop.svg');
}

h1 {
    font-size: 4rem;
    margin: 9.5rem 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 600;
    line-height: 1.1;
}

h1 > .pink-text {
    font-weight: 300;
}

.pink-text {    
    color: hsl(0, 36%, 70%);
}

section > p {
    margin-bottom: 2.75rem;
    line-height: 1.5;
    width: 85%;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border: 1px solid hsla(0, 6%, 24%, 20%);
    border-radius: 3rem;
    font: inherit;    
    background: none;
    padding: 1rem 2rem;
    width: 82%;
}
input::placeholder {
    color: hsla(0, 36%, 70%, 50%);
    font: inherit;
}

button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    height: 3.25rem;
    width: 6.5rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    margin-left: -5rem;
    box-shadow: 0 0.5rem 2rem hsla(0, 93%, 68%, 50%);
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(135deg, #FADADB, #F8C8C8);
}

#error {
    color: hsla(0, 93%, 68%, 90%);
    margin: 0.5rem 0 0 2rem;
    font-size: 0.85rem;
}
#warning {
    display: none;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    position: relative;
    right: 6rem;
    width: 1.75rem;
    text-align: center;
    padding: 0.5rem 0.25rem 0.25rem;
}
input[type="email"].error {
    border: none;
    outline: 2px solid hsl(0, 93%, 68%);
}


main section:nth-child(2) {
    max-width: 43.36%;
}
.mobile-logo {
    display: none;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .mobile-logo {
        display: block;
        width: 50%;
        padding: 2rem;
    }

    .desktop-logo {
        display: none;
    }

    main section:nth-child(1) {
        padding: 4rem 2rem;
        order: 2;
    }
    h1 {
        font-size: 2.5rem;
        margin: 0;
        letter-spacing: 0.5rem;
    }

    h1, section > p {
        text-align: center;
        width: 100%;
    }

    section > p {
        font-size: 0.80rem;
    }

    main section:nth-child(1), main section:nth-child(2), main, .main-img {
        max-width: 100%;
    }

    button {
        width: 4.5rem;
        box-shadow: 0 0.25rem 1rem hsla(0, 93%, 68%, 50%);
        margin-left: -4.25rem;
    }

    #warning {
        right: 5rem;
        width: 2rem;
    }
     #error {
        text-align: left;
     }

    input {
        width: 100%;
    }


    
}