body {
    font-family: "Alata", sans-serif;
    font-weight: 400;
}

header {
    background: url("./images/desktop/image-hero.jpg") no-repeat center/cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    color: #fff;
    padding: 3.5rem 10rem 9rem 10rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    font-size: 4.5rem;
    margin-top: 8rem;
    border: 2px solid #fff;
    width: 60%;
    padding: 2.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    color: #fff;
    margin: 0 2rem 2rem 2.5rem;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: #fff;
}

ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li a::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: #fff;
    margin-top: 0.5rem;
    visibility: hidden;
}

.bars {
    display: none;
}
.mob-menu {
    display: none;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    color:#fff;
}

.mob-menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin: 10rem 0;
    font-size: 2rem;
}


main {
    margin: 10rem auto;
    max-width: 70rem;
}

main>section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main>section:first-child {
    align-items: flex-end;
}

main>section:first-child>article {
    width: 50%;
}


main>section:first-child>article:nth-child(2) {
    background-color: #fff;
    padding: 7.25rem 0 0 7.5rem;
}

main>section:first-child h2 {
    margin-bottom: 2rem;
}

p {
    color: hsl(0, 0%, 55%);
    font-size: 0.94rem;
    line-height: 1.75;
}

main>section:nth-child(2) {
    justify-content: space-between;
    margin: 11.5rem 0 6rem;
}

button {
    padding: 0.25rem 2.25rem;
    border: 2px solid hsl(0, 0%, 41%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.85rem;
}

main>section:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 28.125rem 28.125rem;
    gap: 2rem;
}

main>section:nth-child(3) article {
    display: flex;
    align-items: flex-end;
    background-blend-mode: overlay;
}

main>section:nth-child(4) {
    display: none;   
}

main>section:nth-child(4) button {
    font-size: 2rem;
    margin: 4rem auto 11rem;
    padding: 1rem 4rem;
}

main>section:nth-child(3)>article:nth-child(1) {
    background: url("./images/desktop/image-deep-earth.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main>section:nth-child(3)>article:nth-child(2) {
    background: url("./images/desktop/image-night-arcade.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main>section:nth-child(3)>article:nth-child(3) {
    background: url("./images/desktop/image-soccer-team.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main>section:nth-child(3)>article:nth-child(4) {
    background: url("./images/desktop/image-grid.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main>section:nth-child(3)>article:nth-child(5) {
    background: url("./images/desktop/image-from-above.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main>section:nth-child(3)>article:nth-child(6) {
    background: url("./images/desktop/image-pocket-borealis.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main>section:nth-child(3)>article:nth-child(7) {
    background: url("./images/desktop/image-curiosity.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main>section:nth-child(3)>article:nth-child(8) {
    background: url("./images/desktop/image-fisheye.jpg") no-repeat center/cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

footer {
    background-color: #000;
    color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social,
.nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav img {
    width: 8rem;
}


.social {
    align-items: flex-end;
}

.social ul {
    gap: 1rem;
}

/* Active States */
button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}

main>section:nth-child(3)>article:hover {
    background-color: rgba(256, 256, 256, 0.7);
    cursor: pointer;
}

ul li a:hover::after {
    visibility: visible;
}
.mob-menu-top img:hover {
    cursor: pointer;
}

/* Mobile */

@media (max-width: 1250px) {
    h1 {
        width: 100%;
    }
    main>section:first-child>article:nth-child(2) {
        padding: 6.25rem 0 0 5.5rem;
    }
    main>section:nth-child(2) {
        margin: 8rem 5rem 5rem;
    }

    main>section:first-child img {
        width: 140%;
    }
    
    main>section {
        margin: 0 5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 3.5rem 7rem 9rem 7rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1rem;
    }
    main>section:first-child>article:nth-child(2) {
        padding: 3.5rem 0 0 3.5rem;
    }

}

@media (max-width: 768px) {
    main {
        margin: 0 3rem;
    }
    header {
        padding: 3.5rem 3rem 9rem 3rem;
    }
    main>section {
        flex-direction: column;
    }
    header > nav > ul {
        display: none;
    }
    .bars {
        display: block;
        cursor: pointer;
    }
    main>section:first-child>article:nth-child(2) {
        text-align: center;
        padding: 0;
        margin: 3rem 0 0 0;
    }
    h2 {
        font-size: 4rem;
    }
    p, a {
        font-size: 1.5rem;
    }
    main>section {
        margin: 0;
    }
    main>section:first-child>article {
        width: 100%;
    }
    main>section:first-child img {
        width: 100%;
    }

    main>section:nth-child(3) {
        display: flex;
        flex-direction: column;
    }
    h3 {
        margin: 6rem 2rem 2rem 2.5rem;
        font-size: 3rem;
    }

    main>section:nth-child(2) button {
        display: none;
    }
    main>section:nth-child(4) {
        display: block;
    }

    main>section:nth-child(3)>article:nth-child(1) {
        background: url("./images/mobile/image-deep-earth.jpg") no-repeat center/cover, linear-gradient(to left,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    
    main>section:nth-child(3)>article:nth-child(2) {
        background: url("./images/mobile/image-night-arcade.jpg") no-repeat center/cover, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    
    main>section:nth-child(3)>article:nth-child(3) {
        background: url("./images/mobile/image-soccer-team.jpg") no-repeat center/cover, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    
    main>section:nth-child(3)>article:nth-child(4) {
        background: url("./images/mobile/image-grid.jpg") no-repeat center/cover, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    
    main>section:nth-child(3)>article:nth-child(5) {
        background: url("./images/mobile/image-from-above.jpg") no-repeat center/cover, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    
    main>section:nth-child(3)>article:nth-child(6) {
        background: url("./images/mobile/image-pocket-borealis.jpg") no-repeat center/cover, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    
    main>section:nth-child(3)>article:nth-child(7) {
        background: url("./images/mobile/image-curiosity.jpg") no-repeat center/cover, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    
    main>section:nth-child(3)>article:nth-child(8) {
        background: url("./images/mobile/image-fisheye.jpg") no-repeat center/cover, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .nav ul {
        flex-direction: column;
        align-items: center;
    }
    .nav img {
        width: 18rem;
    }
    .social img {
        width: 3rem;
    }
    .social {
        align-items: center;
        gap: 1rem;
        margin-top: 5rem;
    }
}

