body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background: hsl(229, 57%, 11%) url('./images/bg-desktop.png') no-repeat center bottom;
    background-size: contain;
    color: rgb(255, 255, 255);

}
main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
}

section {
    background-color: hsl(228, 56%, 26%);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

section:first-child {
    border-radius: 0.5rem 5rem 0.5rem 0.5rem;
    width: 20rem;
    gap: 2rem;
}

section:last-child {
    border-radius: 0.5rem;
    width: 33.5rem;
    padding-top: 0;
}


.icon {
    background-color: hsl(229, 57%, 11%);
    border-radius: 0.5rem;
    padding: 1rem;
    object-fit: contain;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.storage {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.opaque {
    opacity: 0.7;
}



.progress {
    padding: 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    background-color: #fff;
    color:hsl(229, 57%, 11%);
    position: relative;
    top: -1.5rem;
    font-weight: 700;
    width: 11.5rem;
}

.progress-text {
    margin: 0 auto;
    width: fit-content;
}

.gbLeft {
    font-size: 2.25rem;
    
}
.gbText {
    font-size: 0.75rem;
    color:hsl(229, 7%, 55%);
}

.triangle {
    height: 0;
    width: 0;
    position: absolute;
    bottom: -1.5rem;
    right: 0;
    border-left: 1.5rem solid transparent;
    border-top: 1.5rem solid #fff;
}

/* Slider */
.slider {
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    border-radius: 1rem;
    border: 4px solid rgb(21,30,73);
    background: hsl(229, 57%, 11%)
}

input[type="range" i]::-webkit-slider-thumb {
    background-color: #fff;
    height: 12px;
    width: 12px;
    appearance: none;
    border-radius: 50%;
}


input[type="range"]::-webkit-slider-runnable-track {
    height: 12px;
    border-radius: 16px;
}