body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background: hsl(229, 57%, 11%) url('./images/bg-desktop.png') no-repeat center bottom;
    background-size: contain;
    color: rgb(255, 255, 255);

}
main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
}

section {
    background-color: hsl(228, 56%, 26%);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

section:first-child {
    border-radius: 0.5rem 5rem 0.5rem 0.5rem;
    width: 20rem;
    gap: 2rem;
}

section:last-child {
    border-radius: 0.5rem;
    width: 33.5rem;
    gap: 1rem;
}


.icon {
    background-color: hsl(229, 57%, 11%);
    border-radius: 0.5rem;
    padding: 1rem;

}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}