/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

body {
    margin: 0;
    overflow: visible;
}

button,
p,
input {
    display: block;
    text-decoration: none;
    font: inherit;
    color: inherit;
    border: none;
    background: none;
}

button {
    cursor: pointer;
}