body {
  font-family: Sans-serif;
  backgroun-color: #faebd7;
}
footer {
  position: absolute;
  bottom: 1em;
  right: 2em;
}
#content-box {
  margin: 2em;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding: 1em;
}
