body {
  font-family: Consolas;
  background-color: #000000;
}
footer {
  position: absolute;
  bottom: 1em;
  right: 2em;
}
#content-box {
  margin: 6em auto;
  width: 666px;
  color: #778899;
}
li {
  margin: 1em 0 1em;
  list-style-type: none;
  width: 390px;
}
a {
  text-decoration: none;
  color: white; 
  font-size: 1em;
  padding: 0.5em;
}
a:hover {
  color: 	lemonchiffon;
  background-color: indigo;
  opacity: 0.8;
  border-radius: 5px;
}
