
body {
  font-family: Consolas, Lucida Console, Courier New;
  background-color: #000000;
}
footer {
  position: absolute;
  bottom: 1em;
  right: 2em;
}
#content-box {
  margin: 6em auto;
  width: 800px;
  color: #778899;
}
h1{
  font-size: 32px
}
li {
  margin: 0;
  list-style-type: none;
  width: 390px;
  padding: 0.5em;
}
a {
  text-decoration: none;
  color: white; 
  font-size: 1em;
  
}
li:hover {
  color: 	#e0ffff;
  background-color: #778899;
  opacity: 0.8;
  border-radius: 5px;
}
          
@media only screen and (max-width: 800px) {
  body {
    width: 800px;    
  }
	h1{
  font-size: 100px
}
  li{
  font-size: 70px
	}
	a {
  color: #f0f4fb;
}
