body {
    font-family: sans-serif;
    background-color: #000000;
}
footer {
    color: white;
}
main {
    margin: 6em auto;
    max-width: 75rem;
    color: #778899;
    background-image: url("media/bg-img-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

h1, h2{
    font-size: 2rem;
    text-align: center;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0.5em 1em;
}

ul li img {
    max-height: 16rem;
    display: block;
}

.main-projects a {
    overflow: hidden;
    display: flex;
    text-decoration: none;
    max-width: 21rem;
    justify-content: center;
    border-radius: 12px;
    border: rgba(0,0,0,0) 1px solid;
}

.other-projects a {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(230, 230, 230);
}

.other-projects {
    text-align: center;
}

p {
    color: white;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 10px 0;
}

img:hover {
  opacity: 0.7;
}

.main-projects a:hover {
    border: rgba(256,256,256,0.5) 1px solid;
}

.other-projects a:hover {
    background-color: rgb(21,25,47);
}

          
@media only screen and (max-width: 800px) {
  body {
    max-width: 50rem;
  }

  li {
    background-color: #696969;
  }

  a {
    color: #f0f4fb;
  }
}
