
body {
    font-family: sans-serif;
    background-color: #000000;
}
footer {
    color: white;
}
main {
    margin: 6em auto;
    max-width: 75em;
    color: #778899;
    background-image: url("media/bg-img-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

h1, h2{
  font-size: 2rem;
  text-align: center;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0.5em 1em;
}

ul li img {
    max-height: 16em;
    display: block;
}

a {
    overflow: hidden;
    display: flex;
    text-decoration: none;
    max-width: 21em;
    justify-content: center;
    border-radius: 0.75em;
    border: rgba(0,0,0,0) 1px solid;
}

p {
  color: white;
  font-size: 1em;
}

img:hover {
  opacity: 0.7;
}

a:hover {
    border: rgba(256,256,256,0.5) 1px solid;
}

          
@media only screen and (max-width: 800px) {
  body {
    width: 800px;
  }

  h1 {
    font-size: 100px
  }

  li {
    background-color: #696969;
    font-size: 70px
  }

  a {
    color: #f0f4fb;
  }
}
