body {
    background-color: #F5F5F5;
    font-family: 'DM Sans', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(36, 2rem);
    grid-template-rows: repeat(56, 1rem);
    max-width: 70rem;
    height: 100vh;
    margin: 5rem auto;
}

.italic {
    font-style: italic;
}

.yellow100 {
    color: hsl(31, 66%, 93%);
}

.yellow500 {
    color: hsl(39, 100%, 71%);
}

.purple100 {
    color: hsl(254, 88%, 90%);
}

.purple500 {
    color: hsl(256, 67%, 59%);
}

.bg-yellow100 {
    background-color: hsl(31, 66%, 93%);
}

.bg-yellow500 {
    background-color: hsl(39, 100%, 71%);
}

.bg-purple100 {
    background-color: hsl(254, 88%, 90%);
}

.bg-purple500 {
    background-color: hsl(256, 67%, 59%);
}

.bg-white {
    background-color: hsl(0, 0%, 100%);
}
.big {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
}

.post-button {
    background: none;
    border: none;
}

article {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1.6rem;
}

/* article img {
    width: 100%;    
} */

h1 {
    font-size: 2.5rem;
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 1rem;
    white-space: break-spaces;
}

h2 {
    font-size: 2rem;
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

p {
    font-size: 18px;
    font-weight: 500;
}

.grid-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item1 {
    grid-area: 1 / 1 / 27 / 9;
}
.item2 {
    grid-area: 1 / 10 / 21 / 27;
    color: white;
    text-align: center;
}

.item2 img {
    width: 12rem;
    margin: 0 auto 1rem;
}

.item3 {
    grid-area: 1 / 28 / 39 / 36;
    padding: 2rem;
}

.item3 img {
    height: 20rem;        
    margin: 1rem 0;
}

.item4 {
    grid-area: 29 / 1 / 56 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item5 {
    grid-area: 23 / 10 / 39 / 18;
}
.item5 img {
    height: 4rem;
    margin-bottom: 1rem;
}
.item6 {
    grid-area: 23 / 19 / 39 / 27;
}
.item6 img, .item1 img {
    width: 100%;
}
.item7 {
    grid-area: 41 / 10 / 56 / 18;

}
.item7 img {
    height: 4rem;
    margin-top: 1.5rem;
}
.item8 {
    grid-area: 41 / 19 / 56 / 36;
    display: flex;
    align-items: center;
    color: white;

}
.item8 img {
    height: 100%;
}



