body {
    margin: 0;
    padding: 0;
    background-color: hsl(210, 46%, 95%);
}

main {
    margin: 260px auto 0;
    width: 730px;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

#img {
    width: 285px;
    height: 280px;
    background-image: url("../project13-data/images/drawers.jpg");
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

#img, section {
    float: left;
}

section {
    width: 365px;
    padding: 37px 40px 30px;
    background-color: hsl(256, 100%, 100%);
    border-radius: 0 10px 10px 0;
}

h1 {
    margin-top: 0;
    color: hsl(217, 19%, 35%);
}

#user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    position: relative;
}

#triggerButton {
    height: 40px;
    width: 40px;
    border: none;
    background-color: hsl(210, 46%, 95%);
    background-image: url('../project13-data/images/icon-share.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 50%;
}

#user-data {
    position: relative;
    right: 70px;
}

.user-name {
    color: hsl(217, 19%, 35%);
}

.date, p {
    color: hsl(212, 23%, 69%);
}

#user > img {
    width: 40px;
    border-radius: 50%;
}

#social {
    display: none;
    z-index: 1000;
    position: absolute;
    bottom: 70px;
    left: 230px;
    background-color: hsl(217, 19%, 35%);
    padding: 5px 40px;
    border-radius: 8px;
    margin-right: -200px;
}

#social-button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    display: none;
    background-image: url('../project13-data/images/icon-share.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 50%;
}

@media only screen and (min-width: 601px) {
    #bottom-pointer {
      margin: 0 0 -25px 54px;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 25px solid hsl(217, 19%, 35%);
    }
}

#social p {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
}

ul {
    display: inline-block;
    padding: 0;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
    color: white;

}

.fa-brands {
    font-size: 18px;
    margin-right: 10px;
}


@media only screen and (max-width: 600px) {

    #img {
        border-radius: 8px 8px 0 0;
        width: 328px;
    }

    #img, section {
        float: none;
    }

    main {
        width: 328px;
        margin: 74px auto;
    }

    section {
        width: 268px;
        padding: 37px 30px 30px;
        border-radius: 0 0 8px 8px;
    }

    h1 {
        font-size: 16px;
    }

    #user-data {
        position: relative;
        right: 26px
    }

    #social {
        position: absolute;
        bottom: -50px;
        left: -30px;
        border-radius: 0 0 8px 8px;
        width: 248px;
    }

    #triggerButton {
        position: relative;
    }

    #bottom-pointer {
        display: none;
    }

}