body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    padding-top: 260px;
    background-color: hsl(210, 46%, 95%);
    width: 1440px;
    font-size: 13px;
    font-family: 'Manrope';
}

#social {
    display: none;
}

button {
    height: 16px;
    width: 16px;
    background-image: url('../project13-data/images/icon-share.svg');
}


@media only screen and (max-width: 600px) {


}