/* Common */
html {
    font-size: 20px;
}

body {
    background: url('./assets/images/pattern-lines.svg'), url('./assets/images/pattern-circle.svg'), url('./assets/images/pattern-circle.svg'), url('./assets/images/pattern-squiggly-line-bottom.svg'), url('./assets/images/pattern-squiggly-line-top.svg'),  url('./assets/images/background-desktop.png');
    background-size: cover, auto, auto, auto, auto, cover;
    background-repeat: no-repeat;
    background-position: center, 5% -15%, 80% 80%, bottom left, 100% 10%, top center;
    color: #fff;
    font-family: 'Inconsolata', sans-serif;
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding-bottom: 7rem;    
}

.logo > img {
    margin: 2rem auto 4rem;
}

h1{
    text-align: center;
    font-size: 2.9rem;
}

h3 {
    text-align: center;
    margin: 2rem 0 2.5rem;
}

/* Form */
form {
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border: 1px solid hsl(252, 6%, 83%);
    border-radius: 0.5rem;    
    font-family: 'Inconsolata', sans-serif;
    color: hsl(252, 6%, 83%);
}

input::placeholder {
    color: hsl(252, 6%, 83%);
    font-size: 0.75rem;
    font-family: 'Inconsolata', sans-serif;
}

input[type="file"]::file-selector-button {
    background: url('./assets/images/icon-upload.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    border: 1px solid hsl(245, 15%, 58%);
    color: transparent;    
}

input[type="file"] {
    color: transparent; 
    border: 1px dashed hsl(252, 6%, 83%);
}

input[type="file"]::after {
    color: hsl(252, 6%, 83%);
    content: "Drag and drop or click to upload";
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1rem;
}

button {
    background-color: hsl(7, 71%, 60%);
    color: rgb(34, 0, 16);
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 800;
}

.info {
    display: inline;
}

small {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: hsl(245, 15%, 58%);
}

/* Submitted */
.submitted {
    display: none;
}

h1 > .username {
    background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email, .error {
    color: hsl(7, 71%, 60%);
}

.info.error {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(-30deg) brightness(90%) contrast(85%);
}


.ticket {
    background: url('./assets/images/pattern-ticket.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    margin: 0 auto;
}

.ticket-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

h2  {
    margin-bottom: 1rem;
    font-size: 1.9rem;
}

.profile-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
    margin: 4rem 0 1rem 1rem;
    color: hsl(252, 6%, 83%);
}

.profile-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

div.profile-info > div > p.username {
    font-size: 1.5rem;
}

.ticket-id {
    transform: rotate(90deg);
    display: block;
    font-size: 1.35rem;
    height: 1.35rem;
    width: 7ch;
    color: hsl(245, 15%, 58%);
}

.avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
}

.gh {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 0.25rem;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    body {
        background-size: cover, auto, auto, 50%, 40%, cover;
    }

    .form {
        width: 90%;
        margin: 0 auto;
    }

    form {
        width: 80%;
        margin: 0 auto;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submitted {
        max-width: 30rem;
        margin: 0 5%;
    }

    .ticket {
        width: 100%;
        background-size: contain;
        margin: 0 auto;
    }    
}

@media screen and (max-width: 460px) and  (min-width: 400px) {
    .ticket-main {
        margin-left: 2rem;
    }

    .ticket-id {
        margin-right: 1.5rem;
    }
}


@media screen and (max-width: 460px) {
    h2 {
        margin-bottom: 0.25rem;
    }
    
    .profile-info {
        margin: 2rem 0 1rem 1rem;
    }
}



