body {
    font-family: Manrope, sans-serif;
    background: url('./images/bg-pattern.svg') no-repeat;
    background-size: cover;
}

header, main {
    max-width: 33.875rem ;
    display: flex;
    flex-direction: column;
}

header {
    margin: 4rem auto 3rem;
}

main {
    margin: 0 auto;
}

