
body {
    font-family: Manrope, sans-serif;
    background: url('./images/bg-pattern.svg') no-repeat;
    background-size: cover;
    background-position-y: -9rem;
}

header, main {
    max-width: 33.875rem ;
    display: flex;
    flex-direction: column;
}

header {
    margin: 7rem auto 5.5rem;
    text-align: center;
}

main {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 3rem 3rem 2rem 3rem;
    box-shadow: 0 15px 1.25rem 0.25rem hsla(225, 20%, 60%, 0.25);
    color: hsl(225, 20%, 60%);
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: hsl(227, 35%, 25%);
}

header > p {
    color: hsl(225, 20%, 60%)
}

input[type="range"] {
    display: block;
    width: 100%;
    margin: 2rem 0;
}

.pageviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pageviews > h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.pageviews > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.price {
    font-size: 2.5rem;
    font-weight: 800;
    color: hsl(227, 35%, 25%);
}

.billing {
    display: flex  ;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.features ul li {
    list-style-image: url('./images/icon-check.svg');
}

