html {
    font-size: 18px;
<<<<<<< HEAD
    font-family: 'Space Grotesk', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(80, minmax(0, 1fr));
    grid-template-rows: repeat(50, minmax(0, 1fr));
    width: 100vw;
    height: 100vh;
}

.bg-main {
    background-image: url('./images/bg-main-desktop.png');
    background-size: cover;
    position: relative;
    grid-area: 1 / 1 / 50 / 30;
    z-index: -1;   
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 31 / 50 / 80;
    padding-left: 7.5rem;
}

form {
    width: 21.1rem;
    margin: 0 auto;
}


.card-section {
    border-radius: 0.5rem;
    background-size: cover;
    z-index: 1000;
}

.card-front {
    grid-area: 10 / 12 / 23 / 37;
    background-image: url('./images/bg-card-front.png');  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    color: #fff;    
}

.card-number {
    letter-spacing: 2px;
    font-size: 1.6rem;    
    padding-top: 2rem;
}

.card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card-back {
    grid-area: 25 / 16 / 38 / 41;
    background-image: url('./images/bg-card-back.png');
    background-position-y: center;
    background-position-x: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.date-field, .cvc-field {
    width: 44%;
}

.cvc-field {
    width: 52%;
}

.cvc-field input {
    width: 100%;
}

.card-cvc {
    color: #fff;
}

form input {
    border-radius: 0.5rem;
    border: 1px solid hsl(270, 3%, 87%);
    padding: 0.75rem;
    outline: none;
}

form input::placeholder {
    color: hsl(270, 3%, 87%);
}

form input:active, form input:focus {
    border: double 1px transparent;
    border-radius: 0.5rem;
    background-color: white;
    background-image: linear-gradient(white, white), linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)); 
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.error {
    border: 1px solid hsl(0, 100%, 66%);
}

form > .field input {
    width: 100%;
}

form label {
    font-size: 0.65rem;
    text-transform: uppercase;
    margin: 1.7rem 0 0.5rem 0;
    letter-spacing: 2px;
}

.date-field .field {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.date-field input {
    width: 100%;
    display: inline-block;
}

.submit-button, .confirm-button {
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    text-align: center ;
    font-weight: 500;
    cursor: pointer;
}

.error-message {
    font-size: 0.5rem;
    color: hsl(0, 100%, 66%);
}

.success-message {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: 1 / 51 / 50 / 95;
    padding: 0;
    width: 70%;
}

.success-message h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1.5rem 0 1rem;
    font-weight: 500;
}

.success-message p {
    margin-bottom: 2.5rem;
    color: hsl(279, 6%, 55%);
}

.success-message img {
    width: 4.44rem;
}

@media screen and (min-width: 1600px) {
    main {
        grid-template-columns: repeat(100, minmax(0, 1fr));
    }
    
}

@media screen and (max-width: 1400px) {
    .card-number {
        font-size: 1.8vw;
    }
    
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 14px;
    }
    main {
        grid-template-columns: repeat(60, minmax(0, 1fr));
    }
    .bg-main {
        grid-area: 1 / 1 / 50 / 20;
    }
    .card-front {
        grid-area: 10 / 6 / 23 / 31;
    }
    .card-back {
        grid-area: 25 / 10 / 38 / 35;
    }

    .success-message {
        grid-area: 1 / 37 / 50 / 95;
        width: 90%;   
    }
}

@media screen and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .bg-main {
        width: 100vw;
        height: 30vh;
    }

    .card-section {
        width: 75%;
        position: absolute;
        aspect-ratio: 287 / 156;
    }

    .card-front {
        top: 11rem;
        left: 1rem; 
        z-index: 1000;
    }
    .card-back {
        top: 3rem;
        right: 3rem;
        z-index: 500;
    }

    .form-container {
        padding: 0;
        width: 100%;
    }

    form {
        width: 100%;
        padding: 2rem;
    }

    .card-number {
        font-size: clamp(0.8rem, 5vw, 1.6rem);
        text-wrap: nowrap;
    }

    .confirm-button {
        width: 50%;
    }

    .success-message {
        width: 100%;
        margin: 20rem auto 0;
    }

    
    
}

@media screen and (max-width: 470px) {
    .card-number {
        font-size: 1.2rem;
    }

    .card-holder {
        font-size: 0.8rem;
    }

    .confirm-button {
        width: 80%;
    }

    .success-message {
        margin: 10rem auto 0;
    }
}


@media screen and (max-width: 380px) {
    .card-number {
        font-size: 1rem;
    }

    .card-holder {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 300px) {
    .card-number {
        font-size: 0.8rem;
    }

    .card-holder {
        font-size: 0.6rem;
=======
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: hsl(27, 66%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    height: 36.75rem;
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    border-radius: 1rem;    
}

.header {
    background-color: hsl(10, 79%, 65%);
    color: #FFFCF7;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-text h3 {
    font-size: 1.85rem;
}

.main {
    background-color: #FFFCF7;
    padding: 2rem;
}

h1 {
    color: hsl(25, 47%, 15%);
    font-size: 1.9rem;

}

.summary h3 {
    color: hsl(25, 47%, 15%);
}

.data-wrapper {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid hsl(27, 66%, 92%);
}

.graph {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: calc(20rem / 7);
}

.graph p {
    font-size: 0.9rem;
}

.graph-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    background-color: hsl(10, 79%, 65%);
    border-radius: 0.25rem;
}

.graph-heading {
    display: none;
    position: fixed;
    background-color: hsl(25, 47%, 15%);
    color: hsl(33, 100%, 98%);
    width: 135%;
    position: relative;
    text-align: center;
    right: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.graph:hover {
    margin-top: 1.2rem;
}

.graph:hover .graph-data {
    cursor: pointer;
    opacity: 0.8;
}

.graph:hover .graph-heading {
    display: block;
}

.graph p {
    text-align: center;
    color: hsl(28, 10%, 53%);
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 1.5rem;
}

p {
    font-size: 1rem;
}

.summary p {
    color: hsl(28, 10%, 53%);
}

.summary-left h3 {
    font-size: 2.75rem;
}

.summary-right {
    text-align: right;
}

@media  screen and (max-width:550px) {
    
    .graph {
        width: calc(15rem / 7);
    }
    .data-wrapper {    
        gap: 0.5rem;
    }
}

@media  screen and (max-width:435px) {
    html {
        font-size: 12px;
>>>>>>> 25e44cb4e0919172a41074893efe3080f972a5a9
    }
}

