/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

body {
  margin: 0;
  overflow: visible;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

button, textarea {
  display: block;
}

button, a, textarea, label, p {
  text-decoration: none;
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}



