body {
    display: flex;
    flex-direction: column;
    background-color: hsl(228, 33%, 97%);
    min-height: 100vh;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

main {
    max-width: 45.75rem;
    width: 100%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.comment-wrapper, .new-comment {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    align-items: flex-start;
    gap: 1rem;
}
.comment-wrapper {
    position: relative;
    z-index: 2;
}


.new-comment img, .profile-pic {
    width: 2.5rem;
}

/* Posted Comments */
.comments .comment-wrapper:first-child {
    display: none;
}
.comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.rating-wrapper {
    background-color: hsl(223, 19%, 93%);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}
.rating-wrapper button:last-child img{
    padding-bottom: 8px;
}
.rating {
    margin: 0.75rem 0;
}
.comment-header {
    justify-content: space-between;
    margin-bottom: 1rem;
}
.comment-header-left, .comment-header-right > .flex-row, .comment-header-right.flex-row {
    align-items: center;
    gap: 1rem;
}
.comment-body, .date {
    color: hsl(211, 10%, 45%);
    line-height: 1.5;
}
.profile-name {
    color: hsl(212, 24%, 26%);
}
.reply-txt, .score, .reply-to {
    color: hsl(238, 40%, 52%);
    font-weight: 700;
}
.reply-txt, .comment-header-right img {
    cursor: pointer;
}

/* Posted Replies */
.comment-wrapper.reply {
    width: 90%;
    margin-left: auto;
}
.delete .reply-txt {
    color: hsl(358, 79%, 66%);

}
.delete  {
    order: 1;
}
.edit  {
    order: 2;
    margin-left: 1.5rem;
}
.comments::before {
    height: 100%;
    width: 1px;
    background: hsl(223, 19%, 93%);
    position: absolute;
    content: "";
    left: 2.5rem;
    z-index: 1;
}

/* New Comments */
.new-comment {
    justify-content: space-between;   
    margin-top: 1rem;
}

.new-comment textarea {
    resize: none;
    max-width: 31.625rem;
    width: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid hsl(223, 19%, 93%);
    border-radius: 0.5rem;
}
.new-comment button {
    padding: 1rem 2rem;
    background-color: hsl(238, 40%, 52%);
    color:#fff;
    border-radius: 0.5rem;
}

small {
    display: block;
    margin: 3rem 0;
    font-size: 0.75rem;
}


