body {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}
main{
    margin: 18em auto 0;
    max-width: 46em;
    box-shadow: 20px 40px 50px hsl(221, 100%, 96%);
    border-radius: 1.5em;
    display: flex;
}

.result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 2.2em;
    text-align: center;
    max-width: 15.5em;
    padding: 40px 60px;
}

.percentage{
    padding: 40px;
    width: 120px;
    height: 120px;
    margin: auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

.percentage-small {
    font-size: 2rem;
}

h1, h2 {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.percentage, .score{
    color: white;
}

h1, p{
    color: hsl(241, 100%, 89%);
}

.percentage-small{
    color: hsla(241, 100%, 89%, 60%);
}
.percentage-big {
    font-size: 4.375rem;
    font-weight: 700;
}

.score {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700;
}

.summary {
    background-color: white;
    border-radius: 1.5em;
    padding: 40px 30px;
}

.summary > div {
    width: 15em;
    padding: 17px;
    margin: 14px auto;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
}

.summary div span{
    vertical-align: top;
}
.reaction {
    background-color: rgba(255, 0, 0, 0.04);
}
.memory {
    background-color: rgba(200, 150, 0, 0.04);
}
.verbal {
    background-color: rgba(0, 255, 0, 0.04);
}
.visual {
    background-color: rgba(0, 0, 255, 0.04);
}

.reaction-text {
    color: red;
}
.memory-text {
    color: orange;
}
.verbal-text {
    color: green;
}
.visual-text {
    color: blue;
}
 .percents{
    float: right;
}
 .percents-max{
    color: gray; 
}
.percents-result,  #summary div{
    font-weight: 800;
}

 .summary div, .button {
     font-size: 18px;

 }
.button{
    margin-top: 24px;
    width: 100%;
    display: inline-block;
    padding: 16px 0;
    background-color: hsl(224, 30%, 27%);
    border-style: none;
    color: hsl(221, 100%, 96%);
    border-radius: 28px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (max-width: 600px) {
    main {
        margin-top: 1em;
        flex-direction: column;
    }

    main, .result, .summary {
        max-width: unset;
    }
}
