html {
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(80, minmax(0, 1fr));
    grid-template-rows: repeat(50, minmax(0, 1fr));
    width: 100vw;
    height: 100vh;
}

.bg-main {
    background-image: url('./images/bg-main-desktop.png');
    background-size: cover;
    position: relative;
    grid-area: 1 / 1 / 50 / 30;
    z-index: -1;   
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 31 / 50 / 80;
    padding-left: 7.5rem;
}

form {
    width: 21.1rem;
    margin: 0 auto;

}


.card-section {
    border-radius: 0.5rem;
    background-size: cover;
    z-index: 1000;
}

.card-front {
    grid-area: 10 / 12 / 23 / 37;
    background-image: url('./images/bg-card-front.png');  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    color: #fff;    
}

.card-number {
    letter-spacing: 2px;
    font-size: 1.6rem;    
    padding-top: 2rem;
}

.card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}

.card-back {
    grid-area: 25 / 16 / 38 / 41;
    background-image: url('./images/bg-card-back.png');
    background-position-y: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.date-field, .cvc-field {
    width: 44%;

}

.cvc-field {
    width: 52%;
}

.cvc-field input {
    width: 100%;
}

form input {
    border-radius: 0.5rem;
    border: 1px solid hsl(270, 3%, 87%);
    padding: 0.75rem;
}

form input::placeholder {
    color: hsl(270, 3%, 87%);
}

form > input {
    width: 100%;
}

form label {
    font-size: 0.65rem;
    text-transform: uppercase;
    margin: 1.7rem 0 0.5rem 0;
    letter-spacing: 2px;
}

.date-field input {
    width: 45%;
    display: inline-block;
    margin-right: 0.25rem;
}

form button {
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    text-align: center ;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (min-width: 1600px) {
    main {
        grid-template-columns: repeat(100, minmax(0, 1fr));
    }
    
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 14px;
    }
    main {
        grid-template-columns: repeat(60, minmax(0, 1fr));
    }
    .bg-main {
        grid-area: 1 / 1 / 50 / 20;
    }
    .card-front {
        grid-area: 10 / 6 / 23 / 31;
    }
    .card-back {
        grid-area: 25 / 10 / 38 / 35;
    }
    
}

@media screen and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .bg-main {
        width: 100vw;
        height: 30vh;
    }

    .card-section {
        width: 75%;
        position: absolute;
        aspect-ratio: 287 / 156;
    }

    .card-front {
        top: 11rem;
        left: 1rem; 
        z-index: 1000;
    }
    .card-back {
        top: 3rem;
        right: 3rem;
        z-index: 500;
    }

    .form-container {
        padding: 0;
        width: 100%;
    }

    form {
        width: 100%;
        padding: 2rem;
    }

    .card-number {
        font-size: clamp(0.8rem, 5vw, 1.6rem);
        text-wrap: nowrap;
    }

    
    
}

@media screen and (max-width: 470px) {
    .card-number {
        font-size: 1.2rem;
    }

    .card-holder {
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 380px) {
    .card-number {
        font-size: 1rem;
    }

    .card-holder {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 300px) {
    .card-number {
        font-size: 0.8rem;
    }

    .card-holder {
        font-size: 0.6rem;
    }
}

