/* Common */

body {
    font-family: "Commissioner", sans-serif;
    background-color: rgb(250, 250, 250);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('./images/image-hero-desktop.jpg');
    background-size: cover;
    padding: 3rem 10rem 20rem;
    color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.green {
    color: hsl(176, 50%, 47%);
}

.inactive {
    background-color: hsl(0, 0%, 48%);
}

nav {
    justify-content: space-between;
}

.navbar {
    gap: 2rem;
    font-size: 0.85rem;
}

.bars {
    display: none;
    width: 1rem;
    height: 1rem;
    background-image: url('./images/icon-hamburger.svg');
    background-repeat: no-repeat;
}

.close {
    width: 1rem;
    height: 1rem;
    background-image: url('./images/icon-close-menu.svg');
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

main {
    max-width: 45.75rem;
    margin: -5rem auto 9rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

section {
    padding: 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
}

p {
    color: hsl(0, 0%, 48%);
}

h1 {
    font-size: 1.75rem;
    margin-top: -0.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

button {
    background-color: hsl(176, 50%, 47%);
    color: #fff;
    border-radius: 2rem;
    padding: 1.15rem 2.7rem;
}

/* First section */

section:nth-child(1) {
    text-align: center;
}

section:nth-child(1)::before {
    content: "";
    background: url(./images/logo-mastercraft.svg);
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    display: block;
    margin: -5rem auto 3rem;
}

section:nth-child(1) p {
    margin: 0.95rem 0 2.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
}

button:hover {
    background-color: hsl(176, 72%, 28%);
}

button.bookmark {
    background: rgb(244, 244, 244);
    color: rgb(115, 115, 115);
    padding: 0 1.5rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

button.bookmarked {
    color: hsl(176, 72%, 28%);
    font-weight: 700;
}



/* Second section */

.data>div {
    width: 33%;
    padding: 0 3rem;
}

.data p {
    margin-top: 0.35rem;
}

.data>.backed-values {
    padding: 0 3rem 0 0;
}

.backers {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.bar-total {
    width: 100%;
    height: 0.8rem;
    background-color: rgb(244, 244, 244);
    border-radius: 1rem;
    margin-top: 2.35rem;
}

.bar-current {
    background-color: hsl(176, 50%, 47%);
    border-radius: 1rem;
    height: 100%;
}

/* Third Section */

section:nth-child(3) p {
    line-height: 1.85;
    margin: 2rem 0;
}

section:nth-child(3)>div {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #eee;
    margin-top: 1.6rem;
}

.header.row,
.remaining.row {
    justify-content: space-between;
    align-items: center;
}

.reward-number.row {
    align-items: center;
    gap: 0.25rem;
}

.inactive:hover {
    background-color: hsl(0, 0%, 48%);
    cursor: auto;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

/* Pledge Form */
.pledge-form {
    display: none;
    position: absolute;
    top: 5rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem 3rem 3rem 3rem;
    max-width: 45.75rem;
}

fieldset {
    border-radius: 0.5rem;
    border: 1px solid #eee;
    padding: 1.75rem;
    margin: 1.75rem 0;
}


fieldset > p {
    margin: 1rem 0 0 2.25rem;
    line-height: 1.75rem;
}

hr {
    display: none;
    width: calc(100% + 3.5rem);
    margin: 2.5rem 0 1.5rem -1.75rem;
}

.pledge {
    display: none;
}

.pledge button,
.pledge input[type="number"] {
    font-size: 0.85rem;
}

.pledge button {
    padding: 1rem 1.75rem;
}

.pledge input[type="number"] {
    padding: 1rem 1rem 1rem 2.5rem;
}

.inputs {
    gap: 1rem;
}

form>.field>.row.space-between.center>div.row.center,
.no-reward {
    color: #000;
    font-weight: 700;
    gap: 1rem;
}

input[type="number"] {
    border-radius: 2rem;
    width: 6rem;
    background-image: url('./images/dollar-sign-solid.svg');
    background-position-x: 1.5rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 0.6rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover {
    cursor: pointer;
}

form>.field>.row.space-between.center>div.row.center:hover,
form>.field>.row.space-between.center>div.row.center>label:hover,
.no-reward label:hover {
    color: hsl(176, 50%, 47%);
    font-weight: 700;
    cursor: pointer;
}

/* Customize radio selet type */
input[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 2.25rem;
    line-height: 1.2rem;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:not(:checked)+label:before {
    border: 1px solid #000;
}

[type="radio"]:checked+label:before {
    border: 1px solid hsl(176, 50%, 47%);
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: hsl(176, 50%, 47%);
    position: absolute;
    top: 0.25rem;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Thank you section */
.success {
    display: none;
    position: absolute;
    top: 5rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 3rem;
    max-width: 33.75rem;
}

.success>img {
    margin: 0 auto;
    width: 5.5rem;
}

.success h2 {
    text-align: center;
    margin-top: 3.5rem;
    font-weight: 700;
}

.success p {
    text-align: center;
    line-height: 1.85;
    margin: 2rem 0;
}

.success>button {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {

    header {
        padding: 3rem 2rem 20rem;
    }

    .bars {
        display: block;
    }
    
    .navbar {
        display: none;
        position: absolute;
        top: 5.5rem;
        left: 7%;
        background-color: #fff;
        color: #000;
        border-radius: 0.5rem;
        padding: 1.5rem 2rem;
        z-index: 1;
        flex-direction: column;
        font-size: 1.5rem;
        width: 85%;
    }
    
    button.bookmark {
        padding: 0;
    }
    
    .bookmark-text {
        display: none;
    }

    main {
        width: 90%;
    }

    section {
        padding: 1.5rem;
    }

    section:nth-child(1)::before {
        margin: -3.5rem auto 3rem;
    }

    .data.row {
        flex-direction: column;
        align-items: center;
    }

    .data > div {
        width: 100%;
        text-align: center;
    }

    .data>.backed-values, .data>.backers, .data>.days {
        padding: 0;
    }

    .backers {
        border-left-width: 0;
        border-right-width: 0;
    }

    .backers::before, .backers::after {
        content: '';
        display: block;
        height: 1px;
        width: 5rem;
        background-color: #ccc;
        margin: 1.5rem auto;
    }

    .pledge-form {
        width: 90%;
    }

    .reward > div {
        flex-direction: column;      
        
    }

    .header.row, .remaining.row {
        align-items: start;
        flex-direction: column;
    }

    .column {
        display: flex ;
        flex-direction: column;
    }

    label + span {
        padding-left: 2.25rem;
    }

    fieldset > p {
        margin-left: 0;
    }

    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        top: 0.5rem;
    }
    
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        top: 0.75rem;
    }

}

