body {
    background-image: url("/project8-data/images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display';
}

main {
    margin: 100px auto 0;
    width: 450px;

}

.main-image {
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container {
    padding: 30px 46px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.small-container {
    padding: 22px;
    background-color: hsl(225, 100%, 98%);
}