body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
}

.container {
    margin: 24.4% auto;
    width: 28.6%;
    height: 52%;
}

.title {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}

.contents {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

.submit-button {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

