body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
}

.container {
    margin: 20.4% auto;
    padding: 33px;
    width: 24.6%;
    background: linear-gradient(to bottom, #212832, #171E28);
    border-radius: 22px;
}

.title {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    margin: 33px 0 15px;
}

.contents {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 24px;
}

.submit-button {
    margin-top: 30px;
    padding: 15px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    display: block;
    width: 100%;
    border-width: 0px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px
}

.rating, .star-rating {
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    padding: 17px;
    border-radius: 25px;
    width: 17px;
    height: 17px;
    text-align: center;
    display: inline-block;
}

.rating-bar {
  display: flex;
  justify-content: space-between;
}

