body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
}

.container, .result-container {
    margin: 20.4% auto;
    padding: 33px;
    width: 24.6%;
    background: linear-gradient(to bottom, #212832, #171E28);
    border-radius: 22px;
}

.result-message {
    color:
}

.title {
    color: hsl(0, 0%, 100%);
    font-size: 27px;
    margin: 33px 0 15px;
    letter-spacing: 0.8px;
    font-weight: 700;
}

.contents {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 24px;
}

.submit-button {
    margin-top: 30px;
    padding: 15px;
    display: block;
    width: 100%;
    border-width: 0px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.rating, .star-rating {
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    padding: 17px;
    border-radius: 25px;
    width: 17px;
    height: 17px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.submit-button, .rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.rating-bar {
  display: flex;
  justify-content: space-between;
}
.rating-bar .rating.selected {
  color: gold;
}

.result {
    display: none;
}

.result-message {
    margin: 20px 0px 0px;
    color: hsl(25, 97%, 53%);
    padding: 0px 70px;
}

.rate {
    display: inline-block;
}

.image-container, .text-container{
    text-align: center;
}

.text-bg-panel {
    background-color: hsl(213, 19%, 18%);
    padding: 8px 0px;
    border-radius: 20px;
}

