body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 176px auto 0;
    width: 1100px;
}

section {
    display: inline-block;
    float: left;
}

#right {
    height: 446px;
    width: 540px;
    background-image: linear-gradient(hsla(277, 100%, 30%, 0.6), hsla(277, 100%, 30%, 0.6)), url('../project9-data/images/image-header-desktop.jpg');
    background-size: cover ;
    border-radius: 0 8px 8px 0;
}

#left {
    background-color: hsl(244, 38%, 16%);
    color: white;
    width: 379px;
    padding: 45px 111px 60px 70px;
    border-radius: 8px 0 0 8px;
}

h1 {
    font-size: 36px;
}

h1 span {
    color: hsl(277, 64%, 61%);
}

#contents {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
    letter-spacing: 0px;
    margin-bottom: 28px;
}

#footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-right: 20px;
}

.footer-number {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-text {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.3px;
}

@media only screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column-reverse;
        margin: 86px auto;
    }

    #right {
        background-image: linear-gradient(hsla(277, 100%, 30%, 0.6), hsla(277, 100%, 30%, 0.6)), url('../project9-data/images/image-header-mobile.jpg');
        width: 326px;
        height: 241px;
        padding: 0;
        border-radius: 8px 8px 0 0;
    }

    #left {
        width: 258px;
        padding: 15px 34px;
        border-radius: 0 0 8px 8px;
    }

    main, section {
        width: 326px;
        float: none;
    }

    h1, #contents, #footer {
        text-align: center;
    }

    #footer {
        display: block;
        padding: 0;
        margin: 0;
    }

    .footer-section {
        padding: 10px 0;
    }

    h1 {
        font-size: 27px;
    }
}

