html {
    font-family: 'Red Hat Text'; 
}

body {
    background-color: hsl(20, 50%, 98%);
}

main {
    max-width: 76rem;
    margin: 5.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: hsl(14, 65%, 9%);
    font-size: 2.5rem;
    margin-top: 1.75rem;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50rem;
}

.items-list li {
    width: 30%;
    margin: 1rem 0;
}

.items-list li > img {
    width: 100%;
    border-radius: 0.5rem;
}

button.shopping-time {
    margin: -1.4rem auto 0;
    border: 1px solid hsl(14, 65%, 9%);
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    position: relative;
    font-size: 0.85rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    width: 65%;
    margin-bottom: 1rem;
    background-color: #fff;
}

button.shopping-time:hover {
    color: hsl(14, 86%, 42%);
    border: 1px solid hsl(14, 86%, 42%);
    cursor: pointer;
}

button.shopping-time.changed-add-to-cart-button, button.shopping-time.changed-add-to-cart-button:hover {
    background-color: hsl(14, 86%, 42%);
    color:#fff;
    cursor: auto;
    padding: 0.7rem 1rem;
}

.cart-icon {
    width: 1.3rem;
}

.category {
    font-size: 0.85rem;
    color: hsl(7, 20%, 60%);
}

.name {
    color: hsl(14, 65%, 9%);
    font-weight: 600;
}

.price {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}

.cart-empty, .cart-full {
    background-color: #fff;
    padding: 2rem;
    height: fit-content;
    border-radius: 0.5rem;
    width: 31%;
}

.cart-empty-img {
    width: 40%;
    margin: 2rem auto;
}

h2 {
    color: hsl(14, 86%, 42%);
    font-size: 1.75rem;
}

.cart-empty p {
    padding: 0 3rem;
    font-size: 0.85rem;
    color: hsl(12, 20%, 44%);
    font-weight: 600;
}

.carbon-neutral {
    width: 100%;
    padding: 1rem;
    background-color: hsl(20, 50%, 98%);
    color: hsl(14, 65%, 9%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    border-radius: 0.5rem;
}

.carbon-neutral ~ button {
    width: 100%;
    text-align: center;
    padding: 0.75rem;
    border: none;
    background-color: hsl(14, 97%, 34%);
    color: #fff;
    border-radius: 2rem;
    margin-top: 1.3rem;
}

.carbon-neutral ~ button:hover {
    cursor: pointer;
}

.bold {
    font-weight: 600;
}
.bolder {
    font-weight: 700;
}

.carbon-neutral img {
    display: inline-block;
}



.decrement-button, .increment-button {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
}

.decrement-button:hover path, .increment-button:hover path {
    fill: hsl(14, 86%, 42%); 
    background-color: #fff;
}

.decrement-button:hover, .increment-button:hover  {
    cursor: pointer;
    background-color: #fff;
}

.cart-full {
    display: none;
    font-size: 0.85rem;
}

.shopping-cart-list {
    display: flex;
    flex-direction: column;
}

.shopping-cart-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1.3rem 0;
}

.shopping-cart-list li {
    border-bottom: 1px solid hsl(20, 50%, 90%);
}

.cart-item-details {
    color: hsl(7, 20%, 60%);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.cart-list-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart-list-right {
    border: 1px solid hsl(7, 20%, 60%);
    border-radius: 50%;
    height: 1.15rem;
    width: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-list-right:hover {
    cursor: pointer;
}


.cart-qty {
    color: hsl(14, 86%, 42%);
}

.total-cart-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.order-total {
    font-size: 1.8rem;
}



/* Style for the close button */
.close-button {
    margin-top: 10px;
    padding: 1rem;
    background-color: hsl(14, 86%, 42%);
    border-radius: 2rem;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Purchase order list */
.order-confirmation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.popup {
    background-color: white;
    padding: 2.25rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 42%;
}

.confirmed-items-list {
    margin: 1.5rem 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    background-color: hsl(20, 50%, 98%);
}

.confirmed-items-list .total-cart-amount {
    background-color: hsl(20, 50%, 98%);
    padding: 1rem;
}

.order-item-img {
    width: 3rem;
}

.order-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsl(20, 50%, 90%);
}

.order-item-left {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        padding: 1rem;
    }

    .items-list {
        flex-direction: column;
        width: 100%;
    }

    .items-list li {
        width: 100%;
    }

    .cart-full, .cart-empty {
        width: 100%;
    }

    .popup {
        width: 100%;
    }
}





