/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

button, a {
  display: block;
}

img {
  display: inline-block;
}

li {
    list-style: none;
}

button, a, li {
  text-decoration: none;
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}


/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance;
}