/* Header */
header {
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));   
    border-bottom-left-radius: 6rem;
}

h1, h2, h3, h4, main p {
    font-family: 'Overpass', sans-serif;
}

nav, button, header p {
    font-family: 'Ubuntu', sans-serif;
}

.overlay {
    width: 100%;
}

header .overlay {
    background: url('./images/bg-pattern-intro-desktop.svg');
    background-position-x: 25%;
    background-position-y: -83.5rem;
    padding: 3.75rem 10rem 6.75rem 10rem;
    color: #fff;    
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.dropdown-hidden {
    display: none;
}

.dropdown-visible {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    color: #000;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 2.5rem;
    left: -1rem;
}

.dropdown:hover {
    font-weight: 700;
}

.action:hover {
    text-decoration: underline;
}

.action::after {
    content: url('./images/icon-arrow-light.svg');
    margin-left: 0.25rem;
}

.header-links.desktop .main-nav-link > div {
    cursor: pointer;
}

.header-links.mobile-nav {
    display: none;
}

.header-links.desktop .main-nav-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.header-links.desktop, .left, .header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header-links.desktop {
    gap: 1rem;
}

.header-buttons {
    gap: 2rem;
}

.left{
    gap: 4rem;
}

.header-links.desktop {
    align-items: center;
    position: relative;
}

h1 {
    font-size: 3.75rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

.nav-buttons {
    margin: 3rem auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-buttons, .header-buttons {
    display: flex;
    flex-direction: row;
}

.header-buttons button, .nav-buttons button {
    font-weight: 700;

}

.nav-buttons button {
    padding: 0.85rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

}

.nav-buttons button {
    border: 1px solid #fff;
}

.login {
    margin-right: 1rem;
}

.white-btn {
    background-color: #fff;
    color: hsl(353, 100%, 62%);
    padding: 0.85rem 2.5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
}

.white-btn:hover {
    background-color: #FF7B86;
    border: 1px solid #FF7B86;
    color: #fff;
}

.nav-buttons button:nth-child(2) {
    color: #fff;
}

.nav-buttons button:nth-child(2):hover {
    background-color: #fff;
    color: #FF7B86;
}

/* Main */
/* First Section */
section {
    display: flex;
    flex-direction: column;
}

section p{
    color: hsl(207, 13%, 34%);
    font-weight: 300;
    font-size: 1.073rem;
}

.editor {
    background-image: url('./images/illustration-editor-desktop.svg');
    background-position: 54vw 4.375rem;
    background-repeat: no-repeat;
    background-size: 58rem;
    padding: 10.25rem 10rem 17rem 10.25rem;
    gap: 1.5rem;
}

h2, h3 {
    font-weight: 600;
    color: hsl(208, 49%, 24%);
}

h2 {
    text-align: center;
    font-size: 2.3rem;    
}

h3 {
    font-size: 1.7rem;
    margin: 5rem 0 2rem;
}

.editor article {
    width: 50%;
    margin-right: auto;
    padding-right: 0.5rem;
}

/* Second Section */

.sotai {
    background: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    position: relative;
    
}  

.sotai p, .sotai h2 {
    color: #fff;
}

.sotai p {
    line-height: 1.6;   
}

.sotai h2 {
    text-align: left;
    margin-bottom: 2rem;
}

.sotai img {
    width: 35rem;
    /* width: 39%; */
    position: absolute;
    top: -4.5rem;
}

.sotai .overlay {
    padding: 7.5rem 10rem 7rem 6rem;
    background-image: url('./images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: -13rem -32rem;
}

.sotai article {    
    width: 45%;
    margin-left: auto;
}

/* Third Section */

.laptop {
    background-image: url('./images/illustration-laptop-desktop.svg');
    background-position: -51% 7rem;
    background-repeat: no-repeat;
    background-size: 64%;
    padding: 14rem 10rem 17rem 10.25rem;
    gap: 1.5rem;
}

.laptop article {
    width: 50%;
    margin-left: auto;
}

/* Footer */

footer {
    background: hsl(240, 10%, 16%);
    border-top-right-radius: 6rem;    
    padding: 4.5rem 20rem 4.5rem 10rem;    
}

.footer-nav {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 11rem;

}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links > .main-nav-link > ul > li {
    color: hsl(240, 2%, 79%);
    margin: 1rem 0;
}

.footer-links > .main-nav-link > ul > li > a:hover {
    text-decoration: underline;
}

.footer-links > .main-nav-link > div {
    margin-bottom: 2.25rem;
}

/* Mobile */
@media (max-width: 768px) {
    header {
        overflow: hidden;
    }

    .header-links.desktop, .header-buttons {
        display: none;
    }

    .header-links.mobile-nav {
        display: none;
        flex-direction: column;
        background-color: #fff;
        color: hsl(237, 17%, 21%);
        width: 90%;
        position: absolute;
        top: 8rem;
        left: 5%;
        text-align: center;
        border-radius: 0.5rem;
        padding: 2rem 0;
        gap: 1.5rem;
    }

    .header-links.mobile-nav div::after {
        content: url('./images/icon-arrow-dark.svg');
    }

    .header-links.mobile-nav li {
        margin: 0 auto;
        width: 86%;
    }

    .header-links.mobile-nav li .login {
        margin: 0 auto;
    }

    .header-links.mobile-nav li .signup {
        margin: 0 auto;
        background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));   
        color: #fff;
    }

    .dropdown-visible {
        align-items: center;
        position: static;
        width: 100%;
        background: #EFEFF1;
        padding: 1rem;
        margin: 1.5rem 0;
    }

    .footer-nav {
        flex-direction: column;
        text-align: center;
    }

    header .overlay {
        padding: 3.75rem 2rem 9.75rem 2rem;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2.15rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .editor {
        background-image: url('./images/illustration-editor-mobile.svg');
        background-position: 50% 12rem;
        background-size: 100%;
        padding: 7rem 2rem 17rem;
        width: 100%;
        margin: 0;
    }

    .editor article{
        width: 100%;
        margin: 18rem auto 0;
        text-align: center;
    }

    .laptop article {
        width: 100%;
        margin: 10rem auto 0;
        text-align: center;
    }

    .laptop {
        background-image: url('./images/illustration-laptop-mobile.svg');
        background-position: 50% 4.375rem;
        background-size: 100%;
        padding: 10.25rem 2rem 7rem;
    }

    .laptop article {
        width: 100%;
    }

    .sotai {
        flex-direction: column;
        
    }

    .sotai img {
        width: 100%;
        margin-top: -9rem;
    }

    .sotai .overlay {
        padding: 7.5rem 0 7rem 0;
        border-top-right-radius: 6rem;
        background-size: cover;
        background-position: 50% -16rem;
    }

    .sotai article {
        width: 80%;
        margin: 5rem auto 0;
    }

    footer {
        padding: 4.5rem 5rem 4.5rem 5rem;
    }

    .footer-nav {
        gap: 5rem;
    }

    .footer-links {
        flex-direction: column;
        gap: 2rem;
    }

    
}
