
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.content-box{
    padding: 1em;
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    margin: 9.5rem auto 1rem;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 1em;
}
h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}
.item-description p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
.item-description {
    text-align: center;
    margin: 1em;
}


