img, a, button, input, label {
    display: block;
    color: inherit;
    font: inherit;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}