html {
    font-family: 'Space Mono', monospace;
}

body {
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: 700;
}

.logo img {
    margin: 0 auto;
}

.logo {
    padding: 2rem;
    width: 100%;
}

main {
    margin: 0 auto;
}

.wrapper {    
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 57.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.wrapper form {
    width: 25.75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.result-wrapper {
    width: 25.75rem;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.75rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-wrapper .result:nth-child(2) {
    margin-top: -7rem;
}

.tip-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 0.8rem;
}

.tip {
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    width: 31%; 
    text-align: center;  
}

.reset.reset-active {
    color: white;
}

input {
    font-size: 1.5rem;   
}

input[type="number"].input-error {
    outline: 2px solid #B3806F;
}

.tip.custom-tip {
    text-align: right;
    color: hsl(183, 100%, 15%);
}

.tip.custom-tip::placeholder {
    text-align: center;
    color: #587676;
}

label {
    color: hsl(186, 14%, 43%);
    margin-bottom: 0.5rem;
}

form .field:nth-child(2) label {
    margin-bottom: 1rem;
}

.field label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.error {
    color: #B3806F;
    font-size: 1rem;
}

input[type="text"], input[type="number"] {
    padding: 0.4rem;
    border-radius: 0.5rem;
    background-color: #F3F8FB;
    border: none;
    outline: none;
}

#bill {
    background-image: url('./images/icon-dollar.svg');
    background-position-x: 1rem;
    background-position-y: center;
    background-repeat: no-repeat;
}

#people {
    background-image: url('./images/icon-person.svg');
    background-position-x: 1rem;
    background-position-y: center;
    background-repeat: no-repeat;
}

#people, #bill {
    width: 100%;
    margin-bottom: 1rem;
    text-align: right;
}
#people::placeholder, #bill::placeholder {
    color: #9FBDBF;
}

.reset {
    width: 100%;
    border-radius: 0.25rem;
    background-color: #0D686D;
    color: #035E63;
    border: none;
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    font-family: inherit;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.result-left small {
    color: hsl(186, 14%, 43%)
}

.result p {
    color: hsl(189, 41%, 97%);
    padding: 0;
    margin: 0;
}

.result-right span {
    font-size: 2.5rem;
    color: hsl(172, 67%, 45%);
}

/* Hover */
.tip:hover, .reset-active:hover {
    background-color: #9FE8DF;
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}

.tip.custom-tip:hover {
    background-color: #F3F8FB;
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="number"]:hover, input[type="number"]:focus {
    outline: 2px solid #5DAAA2;
    cursor: pointer;
}

@media (max-width: 920px) {
    html {
        font-size: 12px;
    }
    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    .result-wrapper, .wrapper form {
        width: 100%;
    }

    .tip {
        width: 47%;
    }

    .result-wrapper .result:nth-child(2) {
        margin-top: 0;
    }


    
}