body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    margin: 0 auto;
    max-width: 39.125rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px 2px hsl(218, 22%, 85%);
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h1, h3, button {
    font-weight: 700;
}

section article:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.article-1, .article-2, .article-3 {
    padding: 2.5rem;
}

.article-1 {
    background-color: #fff;
}
.article-1 p {
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
}

h3 {
    font-size: 1.13rem;
}

.article-1 h3 {
    color: hsl(71, 73%, 54%);    
}

button {
    background-color: hsl(71, 73%, 54%);
    padding: 1rem;
    width: 100%;
    border: 1px solid #29A580;
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 0px 4px 10px 3px hsl(179, 50%, 40%);
    text-align: center;
}

ul li {
    opacity: 0.5;
    font-size: 0.85rem;
    line-height: 1.25rem;
}


.article-2 {
    background-color: hsl(179, 62%, 43%);
}

.article-3 {
    background-color: #4ABEBD;
}

.article {
    width: 50%;
    color: #fff;
}

.article h3 {
    margin-bottom: 0.85rem;;
}

.price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 2rem;
    font-weight: 700;
}

.period {
    opacity: 0.5;
    font-size: 0.95rem;
}

.article-2 p {
    font-size: 0.95rem;
    margin: 0.5rem 0 2rem 0;
}

@media  (max-width: 768px) {
    section article:nth-child(2) {
        flex-direction: column;
    }

    .article {
        width: 100%;
    }
    
}