body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

.container {
    margin: 218px auto 0;
    background-color: white;
    width: 336px;
    padding: 24px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}

.image-container img {
    border-radius: 12px;
}

.tag-container {
    margin: 20px 0 15px;
    padding: 7px 12px;
    background-color: hsl(47, 88%, 63%);
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

.published {
}

.title {
    margin: 18px 0 13px;

}

.title h1 a {
    font-size: 1.44rem;
    text-decoration: none;
    color: hsl(0, 0%, 7%);
    cursor: pointer;
}

.title h1 a:hover {
    color: hsl(47, 88%, 63%);
}


.contents {
    color: hsl(0, 0%, 50%);
    line-height: 24px;
    font-size: 1rem;
}

.author {
    font-weight: bold;
    margin: 22px 0 5px;
}

.author img {
    width: 32px;
}

.author div {
    display: inline-block;
    position: relative;
    top: -11px;
    padding-left: 8px;
}

@media only screen and (max-width: 600px) {
    .image-container img {
        max-width: 100%;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        margin: 0;
        max-width: 279px;
    }
}

