body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}
nav, main, footer {
    max-width: 90rem;
    margin: 0 auto;
}

nav {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.dropdown-btn {
    display: none;
}
ul {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    display: inline-block;

}
h3, h1 {
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}

h1 {
    font-size: 2.25rem;
    width: 60%;
}

a, h3 {
    font-size: 1rem;
}

a {
    padding: 1rem;
    display: block;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}
a, h3, h1, .logo{
    text-decoration: none;
    color: #f9690e;
    text-align: center;
}

h3, h1, p, button {
    color: white;
}

h1 > span {
    color: #f9690e;
}

button{
    padding: 1rem 2rem;
    border: none;
    background-color: #f9690e;
    font-weight: bold;
}

button:hover {
    color: #f9690e;
    background-color: white;
    cursor: pointer;
}

.info > article {
    background-color: #f9690e;
    display: inline-block;
    padding: 40px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 5px
}

.heading {
    background: url(background.jpg) center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18rem 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2.25rem 0 0.5rem 0;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

a:hover{
    background-color: #f9690e;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .info {
        flex-direction: column;
    }
    nav {
        padding: 2rem;
    }
    nav > ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 6rem;
        left: 0;
        width: 100%;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
    }
    nav a {
        padding: 0.5rem 1rem;
    }
    .dropdown-btn {
        display: block;
    }
    article p {
        text-align: center;
    }
    footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}