body {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}
#content-box{
    margin: 238px auto;
    height: 428px;
    width: 614px;
    box-shadow: 20px 40px 50px hsl(221, 100%, 96%);
    border-radius: 1.5em;
}

#result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 1.5em;
    text-align: center;
    padding: 40px;
}
p, #percentage-small {
    font-size: 18px;
}
h1, h2 {
    font-size: 22px;
}
#percentage, #score{
    color: white;
}
h1 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}

h1, p, #percentage-small{
    color: rgba(255, 255, 255, 0.4);
}
#percentage{
    font-size: 52px;
    font-weight: 700;
    padding: 40px;
    width: 88px;
    height: 88px;
    margin: auto;
    background-image: linear-gradient(hsl(262, 100%, 46%), hsl(241, 81%, 59%));
    border-radius: 84px;
}

#score {
    font-size: 30px;
}

#summary, #result {
    display: inline-block;
    float: left;
    width: 226px;
    height: 348px;

}

#summary {
    background-color: white;
    border-radius: 1.5em;
    padding: 25px 30px;
}

#summary div {
    padding:10px;
    margin: 14px auto;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
}

#summary div span{
    vertical-align: top;
}
#reaction {
    background-color: rgba(255, 0, 0, 0.04);
}
#memory {
    background-color: rgba(200, 150, 0, 0.04);
}
#verbal {
    background-color: rgba(0, 255, 0, 0.04);
}
#visual {
    background-color: rgba(0, 0, 255, 0.04);
}

#reaction-text {
    color: red;
}
#memory-text {
    color: orange;
}
#verbal-text {
    color: green;
}
#visual-text {
    color: blue;
}
 .percents{
    float: right;
}
 .percents-max{
    color: gray; 
}
.button{
    width: 109%;
    display: inline-block;
    font-size: 14px;
    padding: 14px 0;
    background-color: hsl(224, 30%, 27%);
    border-style: none;
    color: white;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (max-width: 600px) {
    #content-box {
        width: 306px;
    }

    #summary, #result {
        float: none;
        position: relative;
        top: -40px;
    }
}
