body {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}
#content-box{
    margin: 285px auto;
    height: 512px;
    width: 736px;
    box-shadow: 20px 40px 50px hsl(221, 100%, 96%);
    border-radius: 1.5em;
}

#result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 2.2em;
    text-align: center;
    padding: 40px;
}
p, #percentage-small {
    font-size: 18px;
}
h1, h2 {
    font-size: 22px;
    font-weight: 700;
}
#percentage, #score{
    color: white;
}
h1 {
    margin-top: 0;
    margin-bottom: 30px;
}

h1, p{
    color: hsl(241, 100%, 89%);
}

#percentage-small{
    color: hsla(241, 100%, 89%, 60%);
}
#percentage-big {
    font-size: 70px;
    font-weight: 700;
}

#percentage{
    padding: 40px;
    width: 120px;
    height: 120px;
    margin: auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 120px;
}

#score {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

#summary, #result{
    display: inline-block;
    float: left;
    height: 432px;

}

#result {
    width: 248px;
    padding: 40px 60px;
}

#summary {
    width: 288px;
    background-color: white;
    border-radius: 1.5em;
    padding: 25px 30px;
}

h2 {
    margin-bottom: 30px;
}

#summary div {
    padding: 17px;
    margin: 14px auto;
    border-radius: 13px;
    width: 88%;
}

#summary div span{
    vertical-align: top;
}
#reaction {
    background-color: rgba(255, 0, 0, 0.04);
}
#memory {
    background-color: rgba(200, 150, 0, 0.04);
}
#verbal {
    background-color: rgba(0, 255, 0, 0.04);
}
#visual {
    background-color: rgba(0, 0, 255, 0.04);
}

#reaction-text {
    color: red;
}
#memory-text {
    color: orange;
}
#verbal-text {
    color: green;
}
#visual-text {
    color: blue;
}
 .percents{
    float: right;
}
 .percents-max{
    color: gray; 
}
  .percents-result,  #summary div{
    font-weight: 800;
}

 #summary div, .button {
     font-size: 18px;

 }
.button{
    margin-top: 24px;
    width: 100%;
    display: inline-block;
    padding: 16px 0;
    background-color: hsl(224, 30%, 27%);
    border-style: none;
    color: hsl(221, 100%, 96%);
    border-radius: 28px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (max-width: 600px) {
    #content-box {
        width: 306px;
    }

    #summary, #result {
        float: none;
        position: relative;
        top: -40px;
    }
}
