body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

main {
    max-width: calc((600/16) * 1rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 10px;
}

img {
    max-width: 100%;
    display: block;
}

section {
  	padding: 20px;
  	background-color: white;
  	display: flex;
    flex-direction: column;
}

h2, .new-price {
  	font-family: 'Fraunces', sans-serif;
}
h2 {
    font-size: 2rem;
    margin-top: 0.5em;
}

.h4 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 0.875rem;
    margin-top: 0;
}

.h4, .text-info {
  	color: hsl(228, 12%, 48%);
}
.text-info, .old-price, .cart, footer {
  	font-size: 0.875rem;
}

.text-info {
    margin-bottom: 8px;
}

.h4, .text-info, .old-price, .cart {
	font-family: 'Montserrat', sans-serif;
}

.cart {
    background-color: hsl(158, 36%, 37%);
    padding: 1em;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    color: white;
    border-radius: 0.5em;
    border: none;
    width: 100%;
}


.cart:hover {
  	color: black;
  	cursor: pointer;
}

.price {
	display: flex;
	align-items: center;
    gap: 1ch;
    margin-block: 1.5rem;
}

.new-price {
  	font-size: 25px;
  	color: hsl(158, 36%, 37%);
  	margin: 0 0 15px;
}

.old-price {
  	text-decoration: line-through;
  	margin: 0;
  	padding: 0 0 10px 10px;
}

.cart img{
  	width: 14px;
}
.cart span{
  	padding-left: 11px;
}

@media only screen and (max-width: 600px) {
	main {
	    grid-template-columns: 1fr;
	}
}