body {
  	margin: 0;
  	background-color: hsl(30, 38%, 92%)
}

main {
  	margin: 13% auto 2%;
	max-width: 600px;
  	overflow: hidden;
  	border-radius: 12px;
}

picture, section {
    float: left;
    max-width: 50%;
}

picture img {
    max-width: 100%;
    margin-bottom: -7px;
}

section {
  	padding: 32px;
  	background-color: white;
}

h4 {
  	letter-spacing: 5px;
  	font-size: 12px;
  	font-weight: 500;
	text-transform: uppercase;
}
h2, .new-price {
  	font-family: 'Fraunces', sans-serif;
}
h2 {
    font-size: 32px;
    padding-bottom: 12px;
}

h4 {
    margin: 2px 0 6px;
}

h4, .text-info {
  	color: hsl(228, 12%, 48%);
}
.text-info, .old-price, .cart, footer {
  	font-size: 14px;
}

.text-info {
    margin-bottom: 8px;
}

h4, .text-info, .old-price, .cart {
	font-family: 'Montserrat', sans-serif;
}

.cart {
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    margin: 10px auto;
    color: white;
    border-radius: 8px;
    border: none;
    width: 100%;
}

.cart:hover {
  	color: black;
  	cursor: pointer;
}

.price {
	display: flex;
    align-items: center;
}

.new-price {
  	font-size: 25px;
  	color: hsl(158, 36%, 37%);
  	margin: 0 0 15px;
}

.old-price {
  	text-decoration: line-through;
  	margin: 0;
  	padding: 0 0 10px 10px;
}

.cart img{
  	width: 14px;
}
.cart span{
  	padding-left: 11px;
}

@media only screen and (max-width: 600px) {

	main {
	    max-width: 21.375em;
		margin: 1em auto;
	}

	picture, section {
        float: none;
        max-width: 100%;
    }

	section {
  	    padding: 1.375em;
    }

	h4 {
		font-size: 12px;
	}

	h2 {
		margin-top: 0;
	}
}