html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: hsl(210, 60%, 98%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45.75rem;
    margin: 3.875rem auto;
    background-color: #fff;
    border-radius: 1rem ;
    padding: 0 2rem;
}

.notification-wrapper {
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem ;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.notification-text-wrapper {
    width: 100%;
}

.notification-wrapper img {
    width: 2.5rem;
    height: 2.5rem;
}

.notification-text {
    color: hsl(219, 12%, 42%);
}

.notification-time {
    color: hsl(219, 14%, 63%);
    margin: 0.25rem 0;
}

.user-name {
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}

.user-name:hover {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.post-name {
    font-weight: 800;
    color: hsl(219, 12%, 42%);
}

.group-name {
    font-weight: 800;
    color: hsl(219, 85%, 26%);
}

.post-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unread {
    background-color: hsl(210, 60%, 98%);
}


.unread-bullet {
    color: hsl(1, 90%, 64%);
}

.private-message {
    padding: 1.2rem;
    margin-top: 1rem;
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 0.25rem;
    color: hsl(219, 12%, 42%);
}

.private-message:hover {
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}

h1 span {
    background-color: hsl(219, 85%, 26%);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.header button {
    color: hsl(219, 12%, 42%);
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
}

.header button:hover {
    color: hsl(219, 85%, 26%);
}

.post-name:hover {
    color: hsl(219, 85%, 26%);
}
