html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: hsl(210, 60%, 98%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45.75rem;
    margin: 3.875rem auto;
    background-color: #fff;
    border-radius: 1rem ;
}
