html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: hsl(210, 60%, 98%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45.75rem;
    margin: 3.875rem auto;
    background-color: #fff;
    border-radius: 1rem ;
    padding: 0 2rem;
}

.unread {
    margin: 0.5rem;
    background-color: hsl(210, 60%, 98%);
    border-radius: 0.5rem ;
    padding: 1rem;
    width: 100%;
}

.unread p {
    color: hsl(219, 14%, 63%);
    
}

.unread-bullet {
    color: hsl(1, 90%, 64%);
}

h1 span {
    background-color: hsl(219, 85%, 26%);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.header button {
    color: hsl(219, 12%, 42%);
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
}
