html {
    font-size: 16px;
}

body {
    background-color: hsl(148, 38%, 91%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Karla', sans-serif;
    padding-top: 6rem;    
}

form {
    margin: 0 auto;
    padding: 2.5rem;
    background-color: #fff;
    color: hsl(187, 24%, 22%);
    max-width: 46rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    border-radius: 1rem;
    gap: 2rem;
    position: relative;
}

button, .query label {
    font-size: 1.12rem;
}

input[type="text"], textarea {
    border: 1px solid hsl(186, 15%, 59%);
}

.field.flex-row {
    flex-direction: row;
}

.query .field {    
    padding: 0.75rem 1.5rem;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 0.5rem;
}

.fields-group {
    display: flex;
    flex-direction: row;
    border: none;
    gap: 1rem;
}

.field {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

button {
    background-color: hsl(169, 82%, 27%);
    color: #fff;
    border: 0;
    border-radius: 0.5rem;
    padding: 1.5rem;
    cursor: pointer;
    flex: 1 1 100%;
    font-family: inherit;
}

input {
    border-radius: 0.5rem;
    padding: 0.9rem 0.5rem;
    border: 1px solid hsl(186, 15%, 59%);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.12rem;
}

textarea {
    border-radius: 7px;
    padding: 0.5rem;
    resize: none;
    height: 6.5rem;
    cursor: pointer;
}

legend, label:not([for="consent"], [for="support"], [for="general"]) {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.field label:not([for="consent"], [for="support"], [for="general"]) {
    order: -1;
}

.checkbox, .checkbox label {
    cursor: pointer;
}
.checkbox, .radio {
    gap: 1rem;
}

input:required ~ label:not([for="support"], [for="general"])::after, textarea:required ~ label::after, legend::after {
    content: "*";
    color: hsl(169, 82%, 27%);
    margin-left: 0.5rem;
}

.error-message {
    color: hsl(0, 66%, 54%);
    font-size: 1rem;
    margin-top: 8px;
  }

  input[type="text"].error, input[type="email"].error, textarea.error{
    border: none;
    outline: 1px solid hsl(0, 66%, 54%);
  }

  #error-general, #error-consent {
    margin-top: -1.5rem;
  }

  #invalid-email {
    display: none;
  }

  .test-error {
    display: block;
  }
  
  .field.flex-row.radio {
    align-items: center;
  }


.field.flex-row.radio:active, .field.flex-row.radio:focus-within {
    background-color: hsl(148, 38%, 91%);
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    outline: 1px solid hsl(169, 82%, 27%);
    border: 1px solid hsl(169, 82%, 27%);
}

input[type="radio"] {
    padding: 0;
    appearance: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

input[type="radio"]::before {
    content: "";
    display: none;
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-color: hsl(169, 82%, 27%);
    border: 4px solid hsl(148, 38%, 91%);
    border-radius: 50%; 

}

input[type="radio"]:checked::before {
    display: block;
}

input[type="radio"]:checked {
    background-color: hsl(169, 82%, 27%);
    border: 1px solid hsl(169, 82%, 27%);
}

input[type="checkbox"] {
    aspect-ratio: 1 / 1;
    width: 18px;
}

input[type="checkbox"]:checked {
    appearance: none;
    border-radius: 0;
    background-image: url('./assets/images/icon-checkbox-check.svg');
    aspect-ratio: 1 / 1;
    width: 18px;
    border: none;
    height: auto;
    padding: 0;
}

input:hover, textarea:hover {
    border: 1px solid hsl(187, 24%, 22%);
}

button:hover {
    background-color: hsl(187, 24%, 22%);
}

.success-message {
    display: none;
    background-color: hsl(187, 24%, 22%);
    color: #fff;
    position: absolute;
    top: -6rem;
    width: 60%;
    align-self: center;
    padding: 1.25rem;
    border-radius: 1rem;
}

.success-message-header {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}



@media only screen and (max-width: 600px) {
    .fields-group {
        flex-direction: column;
    }

}