body {
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display';
    font-size: 16px;
}

main {
    margin: 100px auto 0;
    width: 450px;

}

.main-image {
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container {
    padding: 30px 44px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.small-container {
    margin-top: 22px;
    padding: 25px;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

.small-container img{
    padding-right: 22px;
}

h1, .small-container-title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.small-container a {
    font-weight: 700;
    font-size: 14px;
}

.small-container-wrapper {
    display: flex;
    align-items: center;
}

.contents {
    line-height: 1.6;
}

h1, .contents {
    text-align: center;
}

.contents, .small-container-contents {
    font-weight: 500;
}

h1 {
    margin: 15px 0 4px;
    font-size: 28px;
}

button {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-width: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

.payment-button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    margin-top: 34px;
    box-shadow: 0px 16px 22px hsla(245, 75%, 52%, 0.2);
}

.cancel-button {
    margin-top: 18px;
    background: none;
}

.cancel-button, .small-container-contents, .contents {
    color: hsl(224, 23%, 55%);
}

button:hover {
    cursor: pointer;
}

.payment-button:hover {
    background-color: #766CF1;
}

.cancel-button:hover {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #766CF1;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: none;
        background-color: hsl(225, 100%, 94%);
        margin: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 338px;
        padding: 20px 27px;
        background-color: white;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .main-image {
        width: 392px;
    }

    h1 {
        margin: 15px 0;
        font-size: 28px;
    }

    .contents {
        font-size: 18px;
        letter-spacing: 0.3px;
        padding: 6px 12px;
    }
}