body {
    font-family: "Inter", sans-serif;
    background: url('./images/pattern-curve.svg') no-repeat left bottom;
    height: 100vh;
    display: flex;
    align-items: center;
}

main {
    max-width: 69.375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url('./images/pattern-quotes.svg') no-repeat left 6rem top 9rem;

}

blockquote {
    margin: 0 -13rem 2rem 0;
    position: relative;
    z-index: 10;
    font-size: 2.2rem;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
}

.button {
    background: #fff;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;;
    flex-direction: row;
    justify-content: space-between;
    width: 19%;
    margin: -2rem 0 0 4rem;
    position: relative;
}

.button a {
    height: 1.2rem;
    width: 0.7rem;
}

.author-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}

.author-container a {
    font-size: 1.3rem;
    font-weight: 700;
    color: hsl(240, 38%, 20%);
}

.author-title {
    font-size: 1.3rem;
    color: hsl(240, 18%, 77%);
}

.image-container {
    position: relative;
    left: 4rem;
    background:
    url('./images/pattern-bg.svg') no-repeat right center;
    padding: 4rem 4rem 4rem 6rem ;
}

.prev {
    background: url('./images/icon-prev.svg');
}
.next {
    background: url('./images/icon-next.svg');
}

img {
    border-radius: 0.5rem;
    box-shadow: 0 2rem 3rem hsl(240deg 57.82% 36.51% / 20%);
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
    }
    .image-container {
        order: 1;
    }
    .text-container {
        order: 2;
    }
    .author-container {
        flex-direction: column;
        text-align: center;
    }
    body {
        height: unset;
        width: 100%;
    }
}
